<%-include ('partials/_header') %>


<div class="container">
    <div class="col-md-5 m-auto">
        <div class="card">
            <div class="card-body">
                <form action="/edit/<%= task._id%>" method="POST" class="p-1">
                    <div class="form-group">
                        <input 
                        class="form-control m-2"
                        type="text" 
                        name="title" 
                        placeholder="Insert Title"
                        value="<%= task.title %>">
                    </div>
                    <div class="form-group">
                        <textarea 
                        class="form-control m-2"
                        name="description" 
                        id="" 
                        cols="30"
                        placeholder="Insert Description"
                        ><%= task.description %></textarea>
                    </div>
                    <div class="d-grip gap-2 block">
                        <button 
                    type="submit" 
                    class="btn btn-primary w-100 m-2">
                        Update
                    </button>
                    </div>
                </form>
            </div>
    </div>
    </div>
</div>

<%-include ('partials/_footer') %>
